%p
  You can contact me by sending me an email through this form, or snail mail to my address, or by calling me directly:
  .callme
    %object{:type=>"application/x-shockwave-flash", :data=>"https://clients4.google.com/voice/embed/webCallButton", :width=>"230", :height=>"85"}
      %param{:name=>"movie", :value=>"https://clients4.google.com/voice/embed/webCallButton"}
      %param{:name=>"wmode", :value=>"transparent"}
      %param{:name=>"FlashVars", :value=>"id=6454b5886b8e602e6158ab56e65579567c00c837&style=0"}
  .address
  Cooper Quintin
  %br
  P.O. Box 190471
  %br
  San Francisco, CA
  %br
  94119
%p
  %form#contact{:action=>'/contact', :method=>'post'} 
    %table{:valign=>'top'}
      %tr
        %td
          Name:
        %td
          %input#name{:name=>'name', :type=>'text'}
      %tr
        %td
          Email:
        %td
          %input#email{:name=>'email', :type=>'text'}
      %tr
        %td
          Message:
        %td
          %textarea#message{:name=>'message', :rows=>15, :cols=>75}
    %input#email{:type=>'submit', :value=>'send mail!'}

