%p
  .resume
    %h3 Resume
    %ul
      %a{ :href=>'CooperQuintin_Resume.doc' }
        %li.word Word Document
      %a{ :href=>'CooperQuintin_Resume.odt' }
        %li.oo OpenOffice Document
      %a{ :href=>'CooperQuintin_Resume.doc' }
        %li.pdf PDF Document
      %a{ :href=>'CooperQuintin_Resume.doc' }
        %li.html HTML Document 
       
  I am a freelance hacker from the lovely Bay Area of California.  I specialize in LAMP stack system administration and PHP and Ruby Development.  In my spare time I write, play music, and try to make the world a better place.  
%p
  To me, programming is art, and I strongly believe that a piece of code or a program can be as beautifull as any painting or song.  That is my passion and I try to live by that every day.  I have been programming since I was 10 years old and I take a lot of pride and pleasure in my craft.  You can view examples of my code in my
  %a{ :href=>'http://github.com/cooperq' } GitHub profile
  \. I am well versed in many frameworks for PHP and Ruby including Rails, Sinatra and CakePHP.  I also practice my design and security skills daily.
%p
  I have written about a range of topics from politics to philosophy to technology to poetry.  I am available for any writing jobs concerning a number of topics.
%p
  It is important to me that I agree with the mission of those employing me.  I want to spend my time doing something that I think will benefit the world.  To this end I have done work for several non-profits including Greenpeace and Adbusters.  I urge you to contact me and see my 
  %a{:href=>'http://www.linkedin.com/in/cooperq'}Linked In 
  profile here. 
