!!! XML
!!!
%html
  %head
    %link{ :href => '/css/reset.css', :type=>'text/css', :rel=>'stylesheet' }
    %link{ :href => '/css/style.css', :type=>'text/css', :rel=>'stylesheet' }
    /[if IE]
      %link{ :href => '/css/ie.css', :type=>'text/css', :rel=>'stylesheet' }
      %script{ :src => '/scripts/png.js', :type=>'text/javascript' }
    %title= @title ||= 'Cooper Quintin'

  %body
    #contact.img
      %a{:href => '/contact'}
        %img.contact{:src => '/images/contact_me3.png', :align => 'left' }
    
    #wrapper
      #head
        %h1 Cooper Quintin
        %h2 Freelance Hacker, Writer, Amature Philosopher
        %ul.menu
          %a{:href => '/'}
            %li.first Home
          %a{:href => '/writing'}
            %li Writing
          %a{:href => '/portfolio'}
            %li Portfolio
          %a{:href => '/projects'}
            %li Projects

      #content-wrapper
        #flash
          =@message
        =yield
        /[if IE]
          %a{:href => 'http://www.mozilla.com/en-US/firefox/', :target => '_blank'} 
            %h1.firefox Get Firefox!
