- @projects.each do |project|
  %p.post
    %h3.title= project.name
    .body
      = project.about.gsub(/\n/, '<br />')
      %br
      - if !project.link.empty?
        %a{ :href => project.link }
          =project.link_title
    
